# ----------------------
# macOS
# ----------------------
.DS_Store

# ----------------------
# MATLAB temp files
# ----------------------
*.asv
*.autosave

# ----------------------
# VS Code
# ----------------------
.vscode/
